* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ht: 450px;
}

@media screen and (max-width: 610px) {
  body {
    --ht: 230px;
  }
}
@media screen and (max-width: 390px) {
  body {
    --ht: 200px;
  }
}
@media screen and (max-width: 350px) {
  body {
    --ht: 190px;
  }
}
/* * {
  border: 1px solid red;
} */
